* {
  margin: 0;
  padding: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stop {
  diaplay: none;
}

.bitmap1 {
  position: absolute;
  visibility: hidden;
  width: 66px;
  height: 81px;
}

g {
  pointer-events: visiblePainted;
}

.movieclip4 {
  position: absolute;
  visibility: hidden;
}

._id,
.f2 ._id,
.f3 ._id,
.f4 ._id,
.f5 ._id {
  position: absolute;
  visibility: inherit;
  transform: translate3d(-33px, -40px, 0);
  -webkit-transform: translate3d(-33px, -40px, 0);
}

.movieclip5 {
  position: absolute;
  visibility: hidden;
}

._id1,
.f2 ._id1,
.f3 ._id1,
.f4 ._id1,
.f5 ._id1,
.f6 ._id1 {
  position: absolute;
  visibility: inherit;
  transform: translate3d(-101px, -41px, 0);
  -webkit-transform: translate3d(-101px, -41px, 0);
}

#a {
  position: absolute;
  overflow: hidden;
  width: 550px;
  height: 400px;
  background: #ffffff;
}

.a.f1 ._id2 {
  visibility: inherit;
  transform: translate3d(33px, 41px, 0);
  -webkit-transform: translate3d(33px, 41px, 0);
}

.a.f2 ._id2 {
  visibility: inherit;
  transform: translate3d(130px, 41px, 0);
  -webkit-transform: translate3d(130px, 41px, 0);
}

.a.f3 ._id2 {
  visibility: inherit;
  transform: translate3d(227px, 41px, 0);
  -webkit-transform: translate3d(227px, 41px, 0);
}

.a.f4 ._id2 {
  visibility: inherit;
  transform: translate3d(323px, 41px, 0);
  -webkit-transform: translate3d(323px, 41px, 0);
}

.a.f5 ._id2 {
  visibility: inherit;
  transform: translate3d(420px, 41px, 0);
  -webkit-transform: translate3d(420px, 41px, 0);
}

.a.f6 ._id2,
.a.f7 ._id2,
.a.f8 ._id2,
.a.f9 ._id2,
.a.f10 ._id2,
.a.f11 ._id2 {
  visibility: hidden;
}

.a.f6 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 41px, 0);
  -webkit-transform: translate3d(517px, 41px, 0);
}

.a.f7 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 104px, 0);
  -webkit-transform: translate3d(517px, 104px, 0);
}

.a.f8 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 168px, 0);
  -webkit-transform: translate3d(517px, 168px, 0);
}

.a.f9 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 232px, 0);
  -webkit-transform: translate3d(517px, 232px, 0);
}

.a.f10 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 296px, 0);
  -webkit-transform: translate3d(517px, 296px, 0);
}

.a.f11 ._id3 {
  visibility: inherit;
  transform: translate3d(517px, 360px, 0);
  -webkit-transform: translate3d(517px, 360px, 0);
}

.masks {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}