* {
  margin: 0;
  padding: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.stop {
  diaplay: none;
}

.bitmap1 {
  position: absolute;
  width: 58px;
  height: 58px;
}

g {
  pointer-events: visiblePainted;
}

.movieclip4 {
  position: absolute;
}

.movieclip5 {
  position: absolute;
}

#_id {
  position: absolute;
  transform: translate3d(-29px, -29px, 0);
  -webkit-transform: translate3d(-29px, -29px, 0);
}

#_id1.f1 {}

#_id1.f2 {
  transform: translate3d(0, 38px, 0);
  -webkit-transform: translate3d(0, 38px, 0);
}

#_id1.f3 {
  transform: translate3d(0, 76px, 0);
  -webkit-transform: translate3d(0, 76px, 0);
}

#_id1.f4 {
  transform: translate3d(0, 114px, 0);
  -webkit-transform: translate3d(0, 114px, 0);
}

#_id1.f5 {
  transform: translate3d(0, 152px, 0);
  -webkit-transform: translate3d(0, 152px, 0);
}

#_id1.f6 {
  transform: translate3d(0, 191px, 0);
  -webkit-transform: translate3d(0, 191px, 0);
}

#_id1.f7 {
  transform: translate3d(0, 229px, 0);
  -webkit-transform: translate3d(0, 229px, 0);
}

#_id1.f8 {
  transform: translate3d(0, 267px, 0);
  -webkit-transform: translate3d(0, 267px, 0);
}

#_id1.f9 {
  transform: translate3d(0, 305px, 0);
  -webkit-transform: translate3d(0, 305px, 0);
}

#_id1.f10 {
  transform: translate3d(0, 344px, 0);
  -webkit-transform: translate3d(0, 344px, 0);
}

#test {
  position: absolute;
  overflow: hidden;
  width: 550px;
  height: 400px;
  background: #ffffff;
}

#_id2.f1 {
  transform: translate3d(29px, 29px, 0);
  -webkit-transform: translate3d(29px, 29px, 0);
}

#_id2.f2 {
  transform: translate3d(83px, 0, 0);
  -webkit-transform: translate3d(83px, 0, 0);
}

#_id2.f3 {
  transform: translate3d(138px, -28px, 0);
  -webkit-transform: translate3d(138px, -28px, 0);
}

#_id2.f4 {
  transform: translate3d(193px, -56px, 0);
  -webkit-transform: translate3d(193px, -56px, 0);
}

#_id2.f5 {
  transform: translate3d(247px, -85px, 0);
  -webkit-transform: translate3d(247px, -85px, 0);
}

#_id2.f6 {
  transform: translate3d(302px, -113px, 0);
  -webkit-transform: translate3d(302px, -113px, 0);
}

#_id2.f7 {
  transform: translate3d(357px, -141px, 0);
  -webkit-transform: translate3d(357px, -141px, 0);
}

#_id2.f8 {
  transform: translate3d(411px, -170px, 0);
  -webkit-transform: translate3d(411px, -170px, 0);
}

#_id2.f9 {
  transform: translate3d(466px, -198px, 0);
  -webkit-transform: translate3d(466px, -198px, 0);
}

#_id2.f10 {
  transform: translate3d(521px, -226px, 0);
  -webkit-transform: translate3d(521px, -226px, 0);
}